{"http_interactions":[{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/data/observations/v1/current?access_token=WEATHERBUG_ACCESS_CODE&location=39.1,77.1&locationtype=latitudelongitude&units=metric&verbose=true","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\r\n  \"key\": null,\r\n  \"stationId\": null,\r\n  \"providerId\": null,\r\n  \"observationTimeLocalStr\": \"2014-05-06T09:00:00\",\r\n  \"observationTimeUtcStr\": \"2014-05-06T01:00:00\",\r\n  \"iconCode\": 3,\r\n  \"altimeter\": null,\r\n  \"altimeterRate\": null,\r\n  \"dewPoint\": -8.4,\r\n  \"dewPointRate\": null,\r\n  \"heatIndex\": null,\r\n  \"humidity\": 16.0,\r\n  \"humidityRate\": null,\r\n  \"pressureSeaLevel\": null,\r\n  \"pressureSeaLevelRate\": null,\r\n  \"rainDaily\": null,\r\n  \"rainRate\": 0.0,\r\n  \"rainMonthly\": null,\r\n  \"rainYearly\": null,\r\n  \"snowDaily\": null,\r\n  \"snowRate\": null,\r\n  \"snowMonthly\": null,\r\n  \"snowYearly\": null,\r\n  \"temperature\": 18.1,\r\n  \"temperatureRate\": null,\r\n  \"visibility\": null,\r\n  \"visibilityRate\": null,\r\n  \"windChill\": null,\r\n  \"windSpeed\": 7.2,\r\n  \"windDirection\": 45,\r\n  \"windSpeedAvg\": null,\r\n  \"windDirectionAvg\": null,\r\n  \"windGustHourly\": null,\r\n  \"windGustTimeLocalHourlyStr\": null,\r\n  \"windGustTimeUtcHourlyStr\": null,\r\n  \"windGustDirectionHourly\": null,\r\n  \"windGustDaily\": null,\r\n  \"windGustTimeLocalDailyStr\": null,\r\n  \"windGustTimeUtcDailyStr\": null,\r\n  \"windGustDirectionDaily\": null,\r\n  \"observationTimeAdjustedLocalStr\": null,\r\n  \"feelsLike\": 18.1\r\n}"},"http_version":null},"recorded_at":"Tue, 06 May 2014 02:15:21 GMT"},{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/data/forecasts/v1/daily?access_token=WEATHERBUG_ACCESS_CODE&location=39.1,77.1&locationtype=latitudelongitude&units=metric&verbose=true","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\r\n  \"dailyForecastPeriods\": [\r\n    {\r\n      \"cloudCoverPercent\": 60,\r\n      \"dewPoint\": -8.0,\r\n      \"iconCode\": 3,\r\n      \"precipCode\": 1,\r\n      \"precipProbability\": 0,\r\n      \"relativeHumidity\": 11,\r\n      \"summaryDescription\": \"Partly Cloudy\",\r\n      \"temperature\": 32.0,\r\n      \"thunderstormProbability\": 0,\r\n      \"windDirectionDegrees\": 27,\r\n      \"windSpeed\": 7.2,\r\n      \"detailedDescription\": \"Partly cloudy. High temperature around 32C. Dew point will be around -8C with an average humidity of 11%. Winds will be 7 kph from the NNE.\",\r\n      \"forecastDateLocalStr\": \"2014-05-06T07:00:00\",\r\n      \"forecastDateUtcStr\": \"2014-05-05T23:00:00Z\",\r\n      \"isNightTimePeriod\": false\r\n    },\r\n    {\r\n      \"cloudCoverPercent\": 0,\r\n      \"dewPoint\": -9.0,\r\n      \"iconCode\": 31,\r\n      \"precipCode\": 1,\r\n      \"precipProbability\": 0,\r\n      \"relativeHumidity\": 13,\r\n      \"summaryDescription\": \"Clear\",\r\n      \"temperature\": 13.5,\r\n      \"thunderstormProbability\": 0,\r\n      \"windDirectionDegrees\": 78,\r\n      \"windSpeed\": 7.2,\r\n      \"detailedDescription\": \"Clear. Low temperature around 14C. Dew point will be around -9C [...]
{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/oauth20/token?client_id=WEATHERBUG_CLIENT_ID&client_secret=WEATHERBUG_CLIENT_SECRET&grant_type=client_credentials","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","string":"{\"OAuth20\":{\"access_token\":{\"token\":\"sVAMzWpftDJH3jW4MNmwcaFQb0x7\",\"refresh_token\":\"sVAMzWpftDJH3jW4MNmwcaFQb0x7\",\"token_type\":\"bearer\",\"expires_in\":86399}}}"},"http_version":null},"recorded_at":"Tue, 06 May 2014 02:15:25 GMT"},{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/data/observations/v1/current?access_token=sVAMzWpftDJH3jW4MNmwcaFQb0x7&location=39.1,77.1&locationtype=latitudelongitude&units=metric&verbose=true","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\r\n  \"key\": null,\r\n  \"stationId\": null,\r\n  \"providerId\": null,\r\[...]
{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/data/forecasts/v1/daily?access_token=sVAMzWpftDJH3jW4MNmwcaFQb0x7&location=39.1,77.1&locationtype=latitudelongitude&units=metric&verbose=true","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\r\n  \"dailyForecastPeriods\": [\r\n    {\r\n      \"cloudCoverPercent\": 60,\r\[...]
[...]
{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/data/observations/v1/current?access_token=7yEa7wiAP7qPJHbYvSezqqTsmVC0&location=39.1,77.1&locationtype=latitudelongitude&units=metric&verbose=true","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\r\n  \"key\": null,\r\n  \"stationId\": null,\r\n  \"providerId\": null,\r\[...]
{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/data/forecasts/v1/daily?access_token=7yEa7wiAP7qPJHbYvSezqqTsmVC0&location=39.1,77.1&locationtype=latitudelongitude&units=metric&verbose=true","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\r\n  \"dailyForecastPeriods\": [\r\n    {\r\n      \"cloudCoverPercent\": 60,\r\[...]
