{"http_interactions":[{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/oauth20/token?client_id=WEATHERBUG_CLIENT_ID&client_secret=WEATHERBUG_CLIENT_SECRET&grant_type=client_credentials","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","string":"{\"OAuth20\":{\"access_token\":{\"token\":\"WEATHERBUG_ACCESS_CODE\",\"refresh_token\":\"WEATHERBUG_ACCESS_CODE\",\"token_type\":\"bearer\",\"expires_in\":86399}}}"},"http_version":null},"recorded_at":"Sun, 13 Apr 2014 22:12:30 GMT"},{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/data/observations/v1/current?access_token=WEATHERBUG_ACCESS_CODE&location=39.1,77.1&locationtype=latitudelongitude&units=metric&verbose=true","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\r\n  \"key\": null,\r\n  \"stationId\": null,\r\n  \"providerId\": null,\r\n  \"observationTimeLocalStr\": \"2014-04-14T05:00:00\",\r\n  \"observationTimeUtcStr\": \"2014-04-13T21:00:00\",\r\n  \"iconCode\": 2,\r\n  \"altimeter\": null,\r\n  \"altimeterRate\": null,\r\n  \"dewPoint\": -10.3,\r\n  \"dewPointRate\": null,\r\n  \"heatIndex\": null,\r\n  \"humidity\": 20.0,\r\n  \"humidityRate\": null,\r\n  \"pressureSeaLevel\": null,\r\n  \"pressureSeaLevelRate\": null,\r\n  \"rainDaily\": null,\r\n  \"rainRate\": 0.0,\r\n  \"rainMonthly\": null,\r\n  \"rainYearly\": null,\r\n  \"snowDaily\": null,\r\n  \"snowRate\": null,\r\n  \"snowMonthly\": null,\r\n  \"snowYearly\": null,\r\n  \"temperature\": 11.8,\r\n  \"temperatureRate\": null,\r\n  \"visibility\": null,\r\n  \"visibilityRate\": null,\r\n  \"windChill\": null,\r\n  \"windSpeed\": 14.4,\r\n  \"windDirection\": 290,\r\n  \"windSpeedAvg\": null,\r\n  \"windDirectionAvg\": null,\r\n  \"windGustHourly\": null,\r\n  \"windGustTimeLocalHourlyStr\": null,\r\n  \"windGustTimeUtcHourlyStr\": null,\r\n  \"windGustDirectionHourly\": null,\r\n  \"windGustDaily\": null,\r\n  \"windGustTimeLocalDailyStr\": null,\r\n  \"windGustTimeUtcDailyStr\": null,\r\n  \"windGustDirectionDaily\": null,\r\n  \"observationTimeAdjustedLocalStr\": null,\r\n  \"feelsLike\": 11.8\r\n}"},"http_version":null},"recorded_at":"Sun, 13 Apr 2014 22:12:31 GMT"},{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/data/forecasts/v1/daily?access_token=WEATHERBUG_ACCESS_CODE&location=39.1,77.1&locationtype=latitudelongitude&units=metric&verbose=true","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\r\n  \"dailyForecastPeriods\": [\r\n    {\r\n      \"cloudCoverPercent\": 37,\r\n      \"dewPoint\": -15.0,\r\n      \"iconCode\": 3,\r\n      \"precipCode\": 1,\r\n      \"precipProbability\": 0,\r\n      \"relativeHumidity\": 13,\r\n      \"summaryDescription\": \"Partly Cloudy\",\r\n      \"temperature\": 20.8,\r\n      \"thunderstormProbability\": 0,\r\n      \"windDirectionDegrees\": 285,\r\n      \"windSpeed\": 18.0,\r\n      \"detailedDescription\": \"Partly cloudy. High temperature around 21C. Dew point will be around -15C with an average humidity of 13%. Winds will be 18 kph from the WNW.\",\r\n      \"forecastDateLocalStr\": \"2014-04-14T07:00:00\",\r\n      \"forecastDateUtcStr\": \"2014-04-13T23:00:00Z\",\r\n      \"isNightTimePeriod\": false\r\n    },\r\n    {\r\n      \"cloudCoverPercent\": 20,\r\n      \"dewPoint\": -24.0,\r\n      \"iconCode\": 70,\r\n      \"precipCode\": 1,\r\n      \"precipProbability\": 0,\r\n      \"relativeHumidity\": 6,\r\n      \"summaryDescription\": \"Mostly Clear\",\r\n      \"temperature\": 8.2,\r\n      \"thunderstormProbability\": 0,\r\n      \"windDirectionDegrees\": 292,\r\n      \"windSpeed\": 18.0,\r\n      \"detailedDescription\": \"Mostly clear. Low temperature around 8C. Dew point will[...]
[...]
{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/data/observations/v1/current?access_token=KucXobMIyGIMjN8L0kJ4bpPg5GaV&location=39.1,77.1&locationtype=latitudelongitude&units=metric&verbose=true","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\r\n  \"key\": null,\r\n  \"stationId\": null,\r\n  \"providerId\": null,\r\[...]
{"request":{"method":"get","uri":"https://thepulseapi.earthnetworks.com/data/forecasts/v1/daily?access_token=KucXobMIyGIMjN8L0kJ4bpPg5GaV&location=39.1,77.1&locationtype=latitudelongitude&units=metric&verbose=true","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\r\n  \"dailyForecastPeriods\": [\r\n    {\r\n      \"cloudCoverPercent\": 37,\r\[...]
